In [46]:
import pandas as pd
import numpy as np
import matplotlib as plt
import math
import os

In [3]:
os.getcwd()

'/mnt/c/Users/72670/OneDrive - Bain/Desktop/goto_off/amit_goto_attempt/rider_acceptance_project/notebooks'

In [4]:
cd ..

/mnt/c/Users/72670/OneDrive - Bain/Desktop/goto_off/amit_goto_attempt/rider_acceptance_project

In [5]:
from src.utils.store import AssignmentStore

#### booking_log.csv :
records order-level events: created, driver found/not found,canceled, completed

#### participant_log.csv :
records events at the participant (driver) level created,accepted, rejected, ignored

In [6]:
store = AssignmentStore()
participant_df = store.get_raw("participant_log.csv")
booking_df = store.get_raw("booking_log.csv")

In [7]:
participant_df.head(5)

,event_timestamp,driver_id,participant_status,order_id,experiment_key,driver_latitude,driver_longitude,driver_gps_accuracy
0,2015-05-18 11:45:19.519 UTC,110283102582,CREATED,938125906616,309579604593,-2.981389,104.761898,2.0
1,2015-05-18 11:45:29.8 UTC,110283102582,ACCEPTED,938125906616,309579604593,-2.981389,104.761898,2.0
2,2015-05-11 10:35:57.021 UTC,126346998414,CREATED,992080359113,941995970460,-2.966915,104.748040,2.0
3,2015-05-11 10:36:01.148 UTC,126346998414,ACCEPTED,992080359113,941995970460,-2.966915,104.748040,2.0
4,2015-05-16 12:34:20.044 UTC,199325048812,ACCEPTED,797723880713,197604093364,-3.014740,104.694647,2.0

In [8]:
booking_df.head(5)

,event_timestamp,order_id,booking_status,customer_id,driver_id,trip_distance,pickup_latitude,pickup_longitude
0,2015-05-12 05:25:23.904 UTC,102254181112,CREATED,715281995014,NaN,2.0,-2.998461,104.788077
1,2015-05-12 05:25:24.67 UTC,102254181112,DRIVER_FOUND,715281995014,2.211727e+11,2.0,-2.998461,104.788077
2,2015-05-12 05:55:10.496544 UTC,102254181112,COMPLETED,715281995014,2.211727e+11,2.0,-2.998461,104.788077
3,2015-05-12 05:29:37.305 UTC,105520285203,CREATED,957980952237,NaN,2.0,-2.970621,104.756226
4,2015-05-12 05:29:38.214 UTC,105520285203,DRIVER_FOUND,957980952237,5.276724e+11,2.0,-2.970621,104.756226

In [9]:
participant_df.shape, booking_df.shape

((400230, 8), (699212, 8))

In [10]:
participant_df.isnull().sum().sum(), booking_df.isnull().sum().sum()

(np.int64(0), np.int64(194127))

In [11]:
booking_df.isnull().sum()

event_timestamp         92
order_id                 0
booking_status           0
customer_id              0
driver_id           194035
trip_distance            0
pickup_latitude          0
pickup_longitude         0
dtype: int64

In [12]:
participant_df.duplicated().sum(), booking_df.duplicated().sum()

(np.int64(126), np.int64(979))

In [13]:
participant_df.describe()

,driver_id,order_id,experiment_key,driver_latitude,driver_longitude,driver_gps_accuracy
count,4.002300e+05,4.002300e+05,4.002300e+05,400230.000000,400230.000000,400230.000000
mean,5.530397e+11,5.501707e+11,5.501129e+11,-2.968415,104.756183,35.435898
std,2.613920e+11,2.595899e+11,2.596574e+11,0.028407,0.027577,202.583540
min,1.000498e+11,1.000046e+11,1.000062e+11,-3.065749,104.612203,0.001000
25%,3.253827e+11,3.253392e+11,3.253837e+11,-2.987756,104.740568,3.886000
50%,5.510014e+11,5.508380e+11,5.498818e+11,-2.971224,104.756638,6.068000
75%,7.794386e+11,7.748899e+11,7.748952e+11,-2.951059,104.772942,16.000000
max,9.999924e+11,9.999956e+11,9.999971e+11,-2.849100,104.868650,9344.225000

In [14]:
booking_df.describe()

,order_id,customer_id,driver_id,trip_distance,pickup_latitude,pickup_longitude
count,6.992120e+05,6.992120e+05,5.051770e+05,699212.000000,699212.000000,699212.000000
mean,5.504410e+11,5.498101e+11,5.526761e+11,3.995240,-2.968286,104.755901
std,2.595727e+11,2.595859e+11,2.613815e+11,3.059293,0.028991,0.028341
min,1.000046e+11,1.000022e+11,1.000498e+11,0.001000,-3.077437,104.608508
25%,3.254725e+11,3.251339e+11,3.254034e+11,1.753000,-2.987761,104.740032
50%,5.507528e+11,5.489260e+11,5.496364e+11,3.119000,-2.971226,104.756480
75%,7.754394e+11,7.755495e+11,7.799188e+11,5.438000,-2.950481,104.773202
max,9.999956e+11,9.999882e+11,9.999924e+11,29.730000,-2.648479,104.991344

In [15]:
participant_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400230 entries, 0 to 400229
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   event_timestamp      400230 non-null  object
 1   driver_id            400230 non-null  int64
 2   participant_status   400230 non-null  object
 3   order_id             400230 non-null  int64
 4   experiment_key       400230 non-null  int64
 5   driver_latitude      400230 non-null  float64
 6   driver_longitude     400230 non-null  float64
 7   driver_gps_accuracy  400230 non-null  float64
dtypes: float64(3), int64(3), object(2)
memory usage: 24.4+ MB

In [16]:
booking_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699212 entries, 0 to 699211
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   event_timestamp   699120 non-null  object
 1   order_id          699212 non-null  int64
 2   booking_status    699212 non-null  object
 3   customer_id       699212 non-null  int64
 4   driver_id         505177 non-null  float64
 5   trip_distance     699212 non-null  float64
 6   pickup_latitude   699212 non-null  float64
 7   pickup_longitude  699212 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 42.7+ MB

In [18]:
set(booking_df['order_id']) == set(participant_df['order_id'])

False

In [19]:
unique_columns = [
        "order_id",
        "trip_distance",
        "pickup_latitude",
        "pickup_longitude",
    ]
booking_df_dedup = booking_df.drop_duplicates(subset=unique_columns)[unique_columns]
booking_df_dedup.head(5)

        order_id  trip_distance  pickup_latitude  pickup_longitude
0   102254181112            2.0        -2.998461        104.788077
3   105520285203            2.0        -2.970621        104.756226
6   113947347802            2.0        -2.981196        104.718829
10  197309126170            2.0        -2.974532        104.755104
13  209915120110            2.0        -2.982890        104.738268

In [21]:
participant_df_dedup = participant_df.drop_duplicates()
participant_df_dedup.head(5)

,event_timestamp,driver_id,participant_status,order_id,experiment_key,driver_latitude,driver_longitude,driver_gps_accuracy
0,2015-05-18 11:45:19.519 UTC,110283102582,CREATED,938125906616,309579604593,-2.981389,104.761898,2.0
1,2015-05-18 11:45:29.8 UTC,110283102582,ACCEPTED,938125906616,309579604593,-2.981389,104.761898,2.0
2,2015-05-11 10:35:57.021 UTC,126346998414,CREATED,992080359113,941995970460,-2.966915,104.748040,2.0
3,2015-05-11 10:36:01.148 UTC,126346998414,ACCEPTED,992080359113,941995970460,-2.966915,104.748040,2.0
4,2015-05-16 12:34:20.044 UTC,199325048812,ACCEPTED,797723880713,197604093364,-3.014740,104.694647,2.0

In [22]:
booking_df_dedup.isnull().sum()

order_id            0
trip_distance       0
pickup_latitude     0
pickup_longitude    0
dtype: int64

In [24]:
participant_df_dedup.isnull().sum()

event_timestamp        0
driver_id              0
participant_status     0
order_id               0
experiment_key         0
driver_latitude        0
driver_longitude       0
driver_gps_accuracy    0
dtype: int64

In [41]:
participant_df_dedup['participant_status'].value_counts(normalize = True)

participant_status
CREATED     0.501417
ACCEPTED    0.451640
IGNORED     0.043261
REJECTED    0.003682
Name: proportion, dtype: float64

In [42]:
participant_df_dedup.groupby(['driver_id', 'order_id'])['participant_status'].count().sort_values(ascending=False)

driver_id     order_id
999992366004  876063831100    2
100049799902  865687867130    2
100085508914  127157153415    2
              190260508313    2
              191125295150    2
                             ..
984850581258  558647820814    1
985258237131  300399560300    1
985346859249  682557438013    1
985656100389  753146752302    1
985742590950  792496554010    1
Name: participant_status, Length: 200619, dtype: int64

In [44]:
participant_df_dedup.groupby(['driver_id', 'order_id'])['participant_status'].count().sort_values(ascending=True)

driver_id     order_id
114128846550  986056689318    1
115132067432  439712489407    1
115996675820  965116592913    1
116779782384  136345217107    1
117202038490  671026974315    1
                             ..
999992366004  680734509130    2
              733986887004    2
              744975441200    2
              876063831100    2
100049799902  865687867130    2
Name: participant_status, Length: 200619, dtype: int64

In [47]:
df_merged = pd.merge(participant_df_dedup, booking_df_dedup, on="order_id", how="left")

In [48]:
df_merged

,event_timestamp,driver_id,participant_status,order_id,experiment_key,driver_latitude,driver_longitude,driver_gps_accuracy,trip_distance,pickup_latitude,pickup_longitude
0,2015-05-18 11:45:19.519 UTC,110283102582,CREATED,938125906616,309579604593,-2.981389,104.761898,2.000,5.601,-2.980337,104.761200
1,2015-05-18 11:45:29.8 UTC,110283102582,ACCEPTED,938125906616,309579604593,-2.981389,104.761898,2.000,5.601,-2.980337,104.761200
2,2015-05-11 10:35:57.021 UTC,126346998414,CREATED,992080359113,941995970460,-2.966915,104.748040,2.000,1.744,-2.968359,104.749344
3,2015-05-11 10:36:01.148 UTC,126346998414,ACCEPTED,992080359113,941995970460,-2.966915,104.748040,2.000,1.744,-2.968359,104.749344
4,2015-05-16 12:34:20.044 UTC,199325048812,ACCEPTED,797723880713,197604093364,-3.014740,104.694647,2.000,2.505,-3.013223,104.700030
...,...,...,...,...,...,...,...,...,...,...,...
400099,2015-05-17 04:57:32.044 UTC,868666321781,CREATED,807506644180,514465572244,-2.988325,104.763972,26.942,4.386,-2.986718,104.763435
400100,2015-05-16 23:21:45.793 UTC,438082052422,CREATED,368974774419,701381598248,-2.985607,104.725295,27.942,3.166,-2.986433,104.723186
400101,2015-05-16 23:21:46.537 UTC,438082052422,ACCEPTED,368974774419,701381598248,-2.985607,104.725295,27.942,3.166,-2.986433,104.723186
400102,2015-05-15 01:01:54.751 UTC,689026016592,IGNORED,991540131701,746715283424,-3.035419,104.792624,79.893,13.556,-3.034194,104.792025
400103,2015-05-15 01:01:39.733 UTC,689026016592,CREATED,991540131701,746715283424,-3.035419,104.792624,79.893,13.556,-3.034194,104.792025

In [49]:
df_merged.isnull().sum()

event_timestamp        0
driver_id              0
participant_status     0
order_id               0
experiment_key         0
driver_latitude        0
driver_longitude       0
driver_gps_accuracy    0
trip_distance          0
pickup_latitude        0
pickup_longitude       0
dtype: int64

In [50]:
df_merged.duplicated().sum()

np.int64(0)

In [51]:
df_merged['experiment_key'].value_counts(normalize = True)

experiment_key
351083878970    0.000045
989415412920    0.000040
761563418675    0.000040
510803030344    0.000040
512422084688    0.000035
                  ...
263166339122    0.000002
365856026656    0.000002
670754688327    0.000002
428720261006    0.000002
564527262456    0.000002
Name: proportion, Length: 182834, dtype: float64

In [53]:
#This seems like a good starting point, we have cleaned the data enough to begin feature engineering. Our target label would be 'particpant_status' and 'Accepted' would be our label 1. Modules to automate this process ->

In [55]:
import pandas as pd
from src.utils.store import AssignmentStore


def data_cleaning():
    store = AssignmentStore()

    booking_df = store.get_raw("booking_log.csv")
    booking_df = clean_booking_df(booking_df)

    participant_df = store.get_raw("participant_log.csv")
    participant_df = clean_participant_df(participant_df)

    dataset = merge_dataset(booking_df, participant_df)

    return dataset


def clean_booking_df(df: pd.DataFrame) -> pd.DataFrame:
    unique_columns = [
        "order_id",
        "trip_distance",
        "pickup_latitude",
        "pickup_longitude",
    ]
    df = df.drop_duplicates(subset=unique_columns)
    return df[unique_columns]


def clean_participant_df(df: pd.DataFrame) -> pd.DataFrame:
    df = df.drop_duplicates()
    return df


def merge_dataset(bookings: pd.DataFrame, participants: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(participants, bookings, on="order_id", how="left")

    return df

In [57]:
cleaned_dataset = data_cleaning()
cleaned_dataset

,event_timestamp,driver_id,participant_status,order_id,experiment_key,driver_latitude,driver_longitude,driver_gps_accuracy,trip_distance,pickup_latitude,pickup_longitude
0,2015-05-18 11:45:19.519 UTC,110283102582,CREATED,938125906616,309579604593,-2.981389,104.761898,2.000,5.601,-2.980337,104.761200
1,2015-05-18 11:45:29.8 UTC,110283102582,ACCEPTED,938125906616,309579604593,-2.981389,104.761898,2.000,5.601,-2.980337,104.761200
2,2015-05-11 10:35:57.021 UTC,126346998414,CREATED,992080359113,941995970460,-2.966915,104.748040,2.000,1.744,-2.968359,104.749344
3,2015-05-11 10:36:01.148 UTC,126346998414,ACCEPTED,992080359113,941995970460,-2.966915,104.748040,2.000,1.744,-2.968359,104.749344
4,2015-05-16 12:34:20.044 UTC,199325048812,ACCEPTED,797723880713,197604093364,-3.014740,104.694647,2.000,2.505,-3.013223,104.700030
...,...,...,...,...,...,...,...,...,...,...,...
400099,2015-05-17 04:57:32.044 UTC,868666321781,CREATED,807506644180,514465572244,-2.988325,104.763972,26.942,4.386,-2.986718,104.763435
400100,2015-05-16 23:21:45.793 UTC,438082052422,CREATED,368974774419,701381598248,-2.985607,104.725295,27.942,3.166,-2.986433,104.723186
400101,2015-05-16 23:21:46.537 UTC,438082052422,ACCEPTED,368974774419,701381598248,-2.985607,104.725295,27.942,3.166,-2.986433,104.723186
400102,2015-05-15 01:01:54.751 UTC,689026016592,IGNORED,991540131701,746715283424,-3.035419,104.792624,79.893,13.556,-3.034194,104.792025
400103,2015-05-15 01:01:39.733 UTC,689026016592,CREATED,991540131701,746715283424,-3.035419,104.792624,79.893,13.556,-3.034194,104.792025

In [58]:
df_merged.shape

(400104, 11)